.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ff8c22;
  border-radius: 28px;
  padding: 12px 16.5px;
  outline: none;
  cursor: pointer;

  font-family: "Inter";

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: none;
  transition: 0.4s ease-in-out all;
  color: #fff;

  img {
    margin-right: 8px;
  }
}
