.lg-react-element {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lg-react-element a {
  width: 100%;
}

.lg-react-element img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 300px;
}
