main {
  position: relative;
}

.clock-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tomb {
  position: absolute;
  top: 38px;
  z-index: 0;
}

.fullname {
  position: relative;
  z-index: 2;
  font-family: "Times";
  font-style: italic;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;

  --glow-brightness: 0;
  text-shadow: 0 0 7px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 10px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 21px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 42px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 82px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 92px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 102px rgba(255, 255, 255, var(--glow-brightness)),
    0 0 151px rgba(255, 255, 255, var(--glow-brightness));
}

header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-family: "Jacques Francois";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.animated-time {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
  font-family: "Jomolhari";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.dates {
  transform: translateY(180px);
}

.dates p {
  font-family: "Jomolhari";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.list-container {
  width: 100%;
  margin-top: 400px;
  padding: 15px 0 80px 0;
  background-image: url(../assets/tomb_bottom.svg);
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: 100%;
  width: 500px;
}

.list-container p {
  margin-top: 10px;
}

.list {
  list-style: none;

  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9;
  width: 60%;
}

.list li {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.button-group {
  width: 34.7%;
  height: 60px;

  position: fixed;
  bottom: 20px;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.rounded-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;

  background: #ffffff;
  border-radius: 28px;
  border: none;
  outline: none;
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subheader {
  display: flex;
  align-content: center;
  padding: 10px;
  justify-content: space-between;
}

.gallery .content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.gallery-photo {
  width: calc(25% - 16px);
  height: 119px;
  background: #2d2d2d;
  border-radius: 8px;

  object-fit: cover;
}

.video {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 300px);
  width: 600px;
}

.skip-button {
  position: absolute;
  top: 40px;
  right: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.video-wrapper {
  position: relative;
}

.volume {
  border: none;
  background-color: black;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1.4);
}

.candle-counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.popup {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.popup h2 {
  text-align: center;
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 2.5rem;
}

.popup h3 {
  width: 100%;
  text-align: right;
  margin: 30px 0;
  font-weight: 500;
  font-size: 1.6rem;
}

.popup button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  color: white;
  margin-top: 40px;
  cursor: pointer;
}

@media (max-width: 499px) {
  .list-container {
    width: 90%;
    margin: 220px 0 80px 0;
    padding: 0;
  }

  .gallery-photo {
    width: calc(50% - 8px);
  }

  .tomb {
    width: 90%;
    top: -57px;
  }

  main {
    margin-top: 47px;
  }

  .button-group {
    width: 100%;
  }

  .animated-time {
    margin-top: 12px;
  }

  .video {
    width: 95%;
    left: 2.5%;
    bottom: 10px;
  }

  .video video {
    width: 100%;
  }
}
