.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      width: 80%;
    }

    button {
      position: absolute;
      top: 40px;
      right: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      transform: scale(2.3);
      cursor: pointer;
    }
  }
}
