.container {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .hour {
      transition: 0.2s ease-in-out all;
      position: absolute;
      top: 21px;
      left: 23px;
    }

    .minute {
      transition: 0.2s ease-in-out all;
      position: absolute;
      top: 21px;
      left: 23px;
    }
  }
}
